name: MyST GitHub Pages Deploy
on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install MyST
        run: npm install -g mystmd

      - name: Build HTML Assets
        # We target the folder. MyST will read the base_url from docs/myst.yml
        run: myst build docs --html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # MyST build creates the output inside the source folder
          path: 'docs/_build/html'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4